<div class="container">
		<div class="row">
			<div class="col-lg-4">
					<h3>user info</h3>
						<%= attachment_image_tag current_user, :image, :fill, 100, 100, format: 'jpeg' , fallback: "no_image.jpg"%>
						<!-- refileのattachment_image_tag -->
						<!-- 画像の登録がない時に保存したno_image.jpgを表示 -->

						<h3>name</h3>
						<h3><%= current_user.name %></h3>
						<!-- 現在ログインしているユーザーだけのデータを取得するdeviseのメソッド -->

						<h3>introduction</h3>
						<h3><%= current_user.intro %></h3>
						<!-- deviseのメソッド　current_user -->

						<h3><%= link_to "edit", edit_user_path(current_user.id) ,class: "edit_user_#{current_user.id}" %></h3>
						<!-- link_to "文字列" , _path-->

						<% if @book.errors.any? %> <!-- 以下エラーメッセージのテンプレ　tech参照 -->
						<div id="error_explanation" class="alert alert-danger">
							<ul>
								<% @book.errors.full_messages.each do |message| %>
								<li><%= message %></li>
								<% end %>
							</ul>
						</div>
						<% end %>

					<h3>new book</h3>
					<%= form_for(@book) do |f| %>
					<!-- 空の箱である@bookをfとする → form_forがcreateアクションへ値を渡す -->

					<h4>title</h4>
					<%= f.text_field :title ,class: "book_title" %>  <!-- fieldは1行の空欄 --> <!-- f は @book -->

					<h4>opinion</h4>
					<%= f.text_area :opinion ,class: "book_body" %>  <!-- areaは複数行の空欄 -->

					<%= f.submit 'create book' %>

					<% end %>
			</div>

			<h1>books#index</h1>
			<div class="col-lg-8">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>image</th>
							<th>title</th>
							<th>opinion</th>
						</tr>
						<% @books.each do |book| %>
						<tr>
							<td>
								<%= link_to user_path(book.user),class: "book_#{book.user.id}" do %>
								 <!-- belongs_to :userで、バリデーションで定義されてるから「.user」と書ける -->

								<%= attachment_image_tag book.user, :image, format: 'jpeg' , fallback: "no_image.jpg", size: '50x50' %>
							     <%end%>
							</td>

								<td><%= link_to book.title, book_path(book) ,class: "book_#{book.id}" %></td>
							<td><%= book.opinion %></td>
						</tr>
						<% end %>
					</thead>
				</table>
			</div>
		</div>
</div>





